apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: homeassistant-dashboard-https
  namespace: homeassistant
  labels:
    app: homeassistant
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`ha.powell.place`)
      kind: Rule
      services:
        - name: homeassistant
          namespace: homeassistant
          port: 8123
