apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homeassistant-dashboard-https
  namespace: homeassistant
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`ha.powell.place`)
      kind: Rule
      services:
        - name: homeassistant
          port: 8123
