apiVersion: v1
kind: Service
metadata:
  name: atuin
  namespace: atuin
  labels:
    app.kubernetes.io/component: service
    app.kubernetes.io/name: atuin
spec:
  selector:
    app.kubernetes.io/component: app
    app.kubernetes.io/name: atuin
  ports:
    - name: http
      port: 8888
      protocol: TCP
      targetPort: http
    - name: metrics
      port: 9001
      protocol: TCP
      targetPort: metrics
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: atuin
  namespace: atuin
  labels:
    app.kubernetes.io/component: app
    app.kubernetes.io/name: atuin
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: app
      app.kubernetes.io/name: atuin
  template:
    metadata:
      labels:
        app.kubernetes.io/component: app
        app.kubernetes.io/name: atuin
    spec:
      nodeSelector:
        kubernetes.io/hostname: abaddon
      containers:
        - name: atuin
          image: ghcr.io/atuinsh/atuin:18.11.0 # {"$imagepolicy": "atuin:atuin"}
          imagePullPolicy: Always
          args:
            - server
            - start
          env:
            - name: ATUIN_DB_URI
              valueFrom:
                secretKeyRef:
                  name: atuin-pgcluster-app
                  key: uri
                  optional: false
            - name: ATUIN_HOST
              value: 0.0.0.0
            - name: ATUIN_PORT
              value: '8888'
            - name: ATUIN_OPEN_REGISTRATION
              value: 'true'
          ports:
            - name: http
              containerPort: 8888
              protocol: TCP
            - name: metrics
              containerPort: 9001
              protocol: TCP
          resources:
            requests:
              cpu: 250m
              memory: 1Gi
            limits:
              cpu: 500m
              memory: 1Gi
          volumeMounts:
            - name: atuin-pvc
              mountPath: /config
      volumes:
        - name: atuin-pvc
          persistentVolumeClaim:
            claimName: atuin-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: atuin-pvc
  namespace: atuin
  labels:
    type: local
    app.kubernetes.io/component: storage-volume-claim
    app.kubernetes.io/name: atuin-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
