apiVersion: apps/v1
kind: Deployment
metadata:
  name: recyclarr
  namespace: media
  labels:
    app.kubernetes.io/component: app
    app.kubernetes.io/name: recyclarr
spec:
  revisionHistoryLimit: 1
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/component: app
      app.kubernetes.io/name: recyclarr
  template:
    metadata:
      labels:
        app.kubernetes.io/component: app
        app.kubernetes.io/name: recyclarr
    spec:
      restartPolicy: Always
      nodeSelector:
        kubernetes.io/hostname: abaddon
      containers:
        - name: recyclarr
          image: ghcr.io/recyclarr/recyclarr:8.2.0 # {"$imagepolicy": "media:recyclarr"}
          imagePullPolicy: Always
          env:
            - name: TZ
              value: America/Los_Angeles
          ports:
            - name: http
              containerPort: 8989
              protocol: TCP
          resources:
            requests:
              cpu: 25m
              memory: 150Mi
            limits:
              cpu: 500m
              memory: 750Mi
          volumeMounts:
            - name: recyclarr-pvc
              mountPath: /config
            - name: secrets
              mountPath: /secrets
              readOnly: true
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - cp /secrets/secrets.yml /config/secrets.yml
      volumes:
        - name: recyclarr-pvc
          persistentVolumeClaim:
            claimName: recyclarr-pvc
        - name: secrets
          secret:
            secretName: recyclarr
            items:
              - key: secrets.yml
                path: secrets.yml
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-pvc
  namespace: media
  labels:
    type: local
    app.kubernetes.io/component: storage-volume-claim
    app.kubernetes.io/name: recyclarr-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: recyclarr-pv
  namespace: media
  labels:
    type: local
    app.kubernetes.io/component: storage-volume
    app.kubernetes.io/name: recyclarr-pv
spec:
  capacity:
    storage: 100Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    name: recyclarr-pvc
    namespace: media
  local:
    path: /media/recyclarr
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - abaddon
